#!/usr/bin/env python
PACKAGE = "usb_cam_auto_exposure"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Add exposure parameter (adjust min/max as needed for your camera)

# Min max from Logitech BIRO
gen.add("exposure", int_t, 0, "Camera Exposure (Shutter Speed)", 100, 3, 2047)

# gen.add("gain", int_t, 0, "Camera Gain", 0, 0, 100)
# gen.add("auto_exposure", bool_t, 0, "Enable auto exposure", False)
# gen.add("target_brightness", double_t, 0, "Target brightness for auto exposure", 128.0, 0.0, 255.0)
# gen.add("brightness_tolerance", double_t, 0, "Brightness tolerance", 10.0, 1.0, 50.0)

exit(gen.generate(PACKAGE, "usb_cam_auto_exposure", "CameraSettings"))
