#!/usr/bin/env python
PACKAGE = "usb_cam_auto_exposure"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Min max from Logitech BIRO
gen.add("k_p", double_t, 0, "K_P", 0.1, 0, 1)
gen.add("k_i", double_t, 0, "K_I", 0.1, 0, 1)
gen.add("k_d", double_t, 0, "K_D", 0.0, 0, 1)

gen.add("setpoint", double_t, 0, "Setpoint", 2.5, 0, 4)

exit(gen.generate(PACKAGE, "usb_cam_auto_exposure", "ControllerSettings"))
